header {
  background: $bg-main;
  .content{
    display: grid;
    padding: 2rem 0;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
  }
}

ul{
  li{
    display: inline;
    a{
      color: #ffffff;
      text-decoration: none;
      font-size: 1.125rem;
      &.emphasis{
        border-left: 2px solid $green-destak;
        line-height: 0.5rem;
      }
    }
    & + li {
      margin-left: 2rem;
    }
  }
}

form{
  margin-left: auto;
  position: relative;
  input{
    padding: 0.75rem 1.5rem;
    background: #170027;
    border: none;
    color: #ffffff;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  button{
    position: absolute;
    background: $title-main;
    border: none;
    bottom: 0;
    height: 2.5rem;
    padding: 0 0.5rem;
    border-radius: 0 0.25rem 0.25rem 0;
  }
}

main{
  background: $bg-main;
  padding: 4rem 0;
  border-bottom: 5px solid $green-destak;
  .content-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    img{
      margin-left: auto;
    }
  }
}

.presentation{
  h1{
    font-size: 2.25rem;
    line-height: 3rem;
    color: $title-main;
  }
  p{
    font-size: 1.125rem;
    color: #ffffff;
    line-height: 1.75rem;
    padding: 1.25rem 0;
  }
  a{
    font-size: 1.125rem;
    font-weight: 700;
    color: $title-main;
    text-decoration: none;
    span{
      color: $green-destak;
    }
  }
}