.content-news{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 0;
  gap: 4rem;
  img{
    width: 100%;
  }
  @media only screen and (max-width: 720px){
    grid-template-columns: 1fr;
    gap: 1rem 0;
  }

  @media only screen and (max-width: 540px){
    width: 90%;
  }
}

.news-details{
  p{
    padding: .5rem 0;
    line-height: 1.5rem;
  }
  h2{
    font-size: 1.5rem;
  }
}

.second-content-news{
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 2rem;
  img{
    width: 100%;
  }
  @media only screen and (max-width: 720px){
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1rem;
  }

  @media only screen and (max-width: 540px){
    grid-template-columns: 1fr;
    gap: 1rem 0;
    width: 80%;
  }
}

footer{
  background: $bg-main;
  .footer{
    padding: 1rem 0;
    img{
      display: block;
      margin: 0 auto;
      width: 15%;
    }
  }
}