// Variáveis
$bg-main: #290742;
$bg-content: #FBF6FF;
$green-destak: #4FFF4B;
$title-news: #290742;
$title-main: #9E6DC2;

@import 'reset';
@import 'intro';
@import 'news';

body{
  background: var($bg-content);
  -webkit-font-smoothing: antialiased;

  @media (max-width: 1080px){
    font-size: 93.75%;
  }

  @media (max-width: 720px){
    font-size: 87.5%;
  }

  @media (max-width: 540px){
    font-size: 75%;
  }
}

p, a{
  font-family: 'Roboto', sans-serif;
}

h1, h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  @media only screen and (max-width: 1280px){
    max-width: 960px;
  }

  @media only screen and (max-width: 960px){
    max-width: 720px;
  }

  @media only screen and (max-width: 720px){
    max-width: 540px;
  }

  @media only screen and (max-width: 540px){
    max-width: 100%;
  }
}